%h1 Weather Search
= form_with url: weathers_path, method: :get, local:true, scope: :q do |form|
  .form-group
    = form.label :city_name
    = form.text_field :city_name, value: params[:q][:city_name]
  .form-group
    = form.label :country_code
    = form.text_field :country_code, value: params[:q][:country_code]

  = form.submit :submit

%br
= render "weathers/responses/#{@response['cod']}" if @response
